@import "tailwindcss";

/* Custom elegant scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}
